# Prerequisites
*.d
/.vs
/x64

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.suo
*.db
*.ipch
*.ilk
*.pdb
*.log
*.tlog
*.lastbuildstate
*.idb
*.opendb
*.recipe

/assignment2/assignment2/x64/Debug/assignment2.vcxproj.FileListAbsolute.txt
/assignment2/assignment2/.vs/assignment2/v16/TestStore/0/testlog.manifest
/assignment2/assignment2/.vs/assignment2/v16/TestStore/0/000.testlog
/assignment2/assignment2/.vs/assignment2/v16/Solution.VC.db-wal
/assignment2/assignment2/.vs/assignment2/v16/Solution.VC.db-shm
/assignment2/assignment2/.vs/assignment2/v16/Browse.VC.db-wal
/assignment2/assignment2/.vs/assignment2/v16/Browse.VC.db-shm
